/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */

html {
  height: 100%;
}

body {
  padding-top: 50px;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

/*
 * Typography
 */

h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

/*
 * Dashboard
 */

 /* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}


/* Custom */

/*left*/
.productsortiment-wrapper {
 float: none; /* not needed, just for clarification */
    background: #e8f6fe;
    /* the next props are meant to keep this block independent from the other floated one */
    width: auto;
    overflow: hidden;
    margin-right: 350px;
}

.productsortiment-wrapper img {
  width: 100%;
}

/*right*/
.maincontainer-wrapper {
  height: 100%
}


.bill-wrapper {
    width: 350px;
    float: right;
    background: #aafed6;
}

.paybutton-wrapper {
  position: absolute;
  bottom: 0;
}


.user-wrapper {
  background-color: white;
  width: 100%;
  margin:0;
  border-bottom: 1px solid #EDEDED;
  cursor: pointer;
  position: relative;
  z-index: 5;
}

.userinstore-wrapper {
  height: 100%;
  border-left: #D4D4D3 solid 1px;
}

.user-wrapper.active {
  background-color: #EDEBE6;
  border-bottom: #99CABA 1px solid;
}

.user-wrapper:hover {
  background-color: #ecf0f1;
}

.user-wrapper.active:hover {
  background-color: #D7E2C9;
}

.user-foto-wrapper {
  width: 25%;
  float: left;
  padding: 10px;
  height: 100px;
}

.user-wrapper.active {
  background-color: #white;
}

.user-foto-wrapper img {
  height: 100%;
}

.user-description-wrapper {
  width: 75%;
  float: left;
  padding: 15px;
  font-size: 19px;
}

.badge-newcustomer {
  padding-top: 5px;
}

.firsttimeuserbadge{
  display: none;
}

.last-visit {
  font-size: 15px;
  display: none;
}


.user-details-wrapper {
  clear: both;
  padding: 15px;
  display: none;
}

.paybutton-wrapper {
  cursor: pointer;
}

.overlay-background {
 display: none;
  background: rgba(1,1,1,0.7); /* newer browsers */; 
  width:      100%;
  height:     100%; 
  z-index:    10;
  top:        0; 
  left:       0; 
  position:   fixed; 
}

.popup-wrapper {
  background-color: white;
  height: 470px;
  width: 602px;
  opacity: 1; 
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}


.popup-wrapper table {
  width: 100%;
  height: 400px;
  background-color: #EDEBE6;
}

.popup-wrapper table td {
  text-align:center; 
  vertical-align:middle;
  padding: 0;
  margin:0;
  height: 200px;
  width: 200px;
  background-color: #EDEBE6;
  cursor: pointer;
  position:relative;
}

.popup-wrapper table td:hover{
  background-color: #99CABA;
}


.continuewithoutvoucherbutton {
  cursor: pointer;
  width: 100%; height:70px; background-color: #98948E; color: white; text-align: center;
  vertical-align: middle;
  line-height: 70px;       /* the same as your div height */"
  letter-spacing: 1px;
 
}

.continuewithoutvoucherbutton:hover {
  background-color: #B85733;
}

.img2 {
    position: absolute;
    left: 0px;
    top: 0px;
    display: none;
}



